body { 
  font-family: 'Arial';
  margin: 0;
}

img {
  display:block;
  margin: 0 auto;
  width: 400px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  background: #00ADEE;
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin-bottom: 5px;
  max-width: 500px;
  width: 100%;
}

.complete, .error {
  background-color: #B9CD3A;
  color: white;
  padding: 20px;
  margin-bottom: 5px;
}

.error {
  background-color: #FF566E;
}

.right {
  align-self: flex-end;
  background-color: #B9CD3A;
}

.image {
  height: 200px;
  display: flex;
}

#indication {
  position: fixed;
  width: 5px;
  height: 7px;
  background-color: #FF566E;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
}